<div class="background-drk footer-style">
    <footer class="py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-3 ">
                    <form>
                      <h5>Exclusive</h5>
                      <p>Subscribe</p>
                      <p>Get 10% off on your first order</p>
                      <div class="d-flex w-100 gap-0">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" style="border-right: 0px;" class="form-control email-input" placeholder="Email address">
                        <i class="fa-solid fa-paper-plane send-icon"></i>                        <!-- <button class="btn btn-primary" type="button">Subscribe</button> -->
                      </div>
                    </form>
                  </div>
              <div class="col-2">
                <h5>Exclusive</h5>
                <div class="logo">
                    <img src="assets/images/app-Logo.png" alt="logo">
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                </ul>
              </div>
        
              <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
                </ul>
              </div>
        
              <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                </ul>
              </div>
              <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                </ul>
              </div>
        
             
            </div>
        
            
        </div>
       
    </footer>
    <div class="d-flex justify-content-center align-items-center py-2 border-top ">
        <label>© 2024 Company, Inc. All rights reserved.</label>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
  </div>